{% extends "index.html" %}

{% block content %}
<br>
<br>
<br>
<div class="text-center">
    <h2>Escoje el material a reciclar</h2>
    <br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona el material
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href={% url 'plastico' %}>plastico</a></li>
        <li><a class="dropdown-item" href="#">Latas</a></li>
        <li><a class="dropdown-item" href={% url 'carton' %}>carton</a></li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <h1>Material seleccionado: Cartón</h1>
    {{mapas|safe}}
    <br>
</div> 

<div>
  <h1>Como reciclar de manera correcta el cartón:
    <br>
    <br>
    <b>Para reciclar este material de manera correcta, debes seguir los siguientes pasos:</b>
    <br>
    <br>
    - 
    <br>
    <br>
    - 
    <br>
    <br>
    <br>
    ¿Sabias que?
    <br>
    <br>
    -  
    <br>
    Por esto es muy importante reciclar, ya que a pesar de una acción tan sencilla como lo puede ser desechar a 
  </h1>
</div>


  

{% endblock %}