{% extends "index.html" %}

{% block content %}
<br>
<br>
<br>
<div class="text-center">
    <h2>Escoje el material a reciclar</h2>
    <br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona el material
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href={% url 'plastico' %}>Plástico</a></li>
        <li><a class="dropdown-item" href={% url "latas" %}>Latas</a></li>
        <li><a class="dropdown-item" href={% url 'carton' %}>Cartón</a></li>
        <li><a class="dropdown-item" href={% url 'vidrio' %}>Vidrio</a></li>
        <li><a class="dropdown-item" href={% url 'papel' %}>Papel</a></li>
        <li><a class="dropdown-item" href={% url 'tapas' %}>Tapas de plástico</a></li>
        <li><a class="dropdown-item" href={% url 'electro' %}>Residuos electrónicos y eléctricos</a></li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <h1>Material seleccionado: Cartón</h1>
    {{mapas|safe}}
    <br>
</div> 

<div>
  <h1>Como reciclar de manera correcta el cartón:
    <br>
    <br>
    <b>Para reciclar este material de manera correcta, debes seguir los siguientes pasos:</b>
    <br>
    <br>
    - Retirar todo material que no sea cartón como por ejemplo cinta adhesiva, corchetes, algún tipo de plástico pegado, etc.
    <br>
    <br>
    - Vaciar y limpiar el cartón para poder asegurarse que no queden residuos en este.
    <br>
    <br>
    - Aplana el objeto de cartón para asi ahorrar espacio en el contenedor de reciclaje y lograr 
    lograr que se puedan reciclar la mayo cantidad de latas en el espacio del contenedor.
    <br>
    <br>
    Luego de estos pasos puedes insertar el cartón en el contenedor correspondiente (color azul)
    <br>
    <br>
    ¿Sabias que?
    <br>
    <br>
    -  El cartón esta hecho de fibras de madera biodegradables, llamadas celulosas. Estas fibras son 100% reciclables y no son tóxicas, por lo tanto
    es posible utilizarlas con fines energéticos, reciclándolas o quemándolas, o compostándolas.
    <br>
    <br>
    Reciclar cartón permite ahorrar energía que puede ser empleada en la fabricación de otros recursos.
    <br>
    Por esto es muy importante reciclar, ya que a pesar de una acción tan sencilla como lo puede ser desechar cartón, podemos generar muchos beneficios para nuestro planeta.
  </h1>
</div>


  

{% endblock %}