{% extends "index.html" %}

{% block content %}
<br>
<br>
<br>
<div class="text-center">
    <h2>Escoje el material a reciclar</h2>
    <br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona el material
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href={% url 'plastico' %}>Plástico</a></li>
        <li><a class="dropdown-item" href={% url "latas" %}>Latas</a></li>
        <li><a class="dropdown-item" href={% url 'carton' %}>Cartón</a></li>
        <li><a class="dropdown-item" href={% url 'vidrio' %}>Vidrio</a></li>
        <li><a class="dropdown-item" href={% url 'papel' %}>Papel</a></li>
        <li><a class="dropdown-item" href={% url 'tapas' %}>Tapas de plástico</a></li>
        <li><a class="dropdown-item" href={% url 'electro' %}>Residuos electrónicos y eléctricos</a></li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <h1>Material seleccionado: Residuos electrónicos y eléctricos</h1>
    {{mapas|safe}}
    <br>
</div> 

<div>
  <h1>Como reciclar de manera correcta un residuo electrónico o eléctrico:
    <br>
    <br>
    <b>Para reciclar este material de manera correcta, debes seguir los siguientes pasos:</b>
    <br>
    <br>
    - En el caso de que recicles un objeto el cual tenga almacenamiento como por ejemplo computadoras, teléfonos, etc. Debees asegurarte de borrar
    todos estos datos o almacenarlos en algúna fuente de almacenamiento aparte.
    <br>
    <br>
    - Si es posible, quita baterías, tarjertas de memoria y otros accesorios los cuales esten dentro del residuo. Ten cuidado al realizar este paso ya que 
    el objeto puede contener partes peligrosas y complejas las cuales pueden ser perjudicantes.
    <br>
    <br>
    Luego de estos pasos puedes insertar el cartón en el contenedor correspondiente (color morado)
    <br>
    <br>
    ¿Sabias que?
    <br>
    <br>
    - Al reciclar este tipo de materiales, se esta evitando que contaminantes que contiene un residuo electrónico como el plomo o el mercurio lleguen al 
    medio ambiente, reduciendo asi el impacto a los seres humanos.
    <br>
    <br>
    - Al reciclar un residuo electrónico, ayudas a crear nuevos empleos ya que hay empresas que se especializan en reutilización de estos materiales por lo que al realizar
    esta acción de reciclaje, promueves el desarrollo de habilidades y oportunidades laborales. 
    <br>
    <br>
    Por esto es muy importante reciclar, ya que a pesar de una acción tan sencilla como lo puede ser desechar un residuo electrónico, podemos generar muchos beneficios para nuestro planeta.
  </h1>
</div>


  

{% endblock %}