{% extends "inicio.html" %}

{% block content %}
<br>
<br>
<br>
<div class="text-center">
    <h2>Escoje el material a reciclar</h2>
    <br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona el material
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href={% url 'plastico' %}>Plástico</a></li>
        <li><a class="dropdown-item" href={% url "latas" %}>Latas</a></li>
        <li><a class="dropdown-item" href={% url 'carton' %}>Cartón</a></li>
        <li><a class="dropdown-item" href={% url 'vidrio' %}>Vidrio</a></li>
        <li><a class="dropdown-item" href={% url 'papel' %}>Papel</a></li>
        <li><a class="dropdown-item" href={% url 'tapas' %}>Tapas de plástico</a></li>
        <li><a class="dropdown-item" href={% url 'electro' %}>Residuos electrónicos y eléctricos</a></li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <h1 style="color: red;">Material seleccionado: Latas</h1>
    {{mapas|safe}}
    <br>
</div> 

<div>
  <h2 style="color: red;">Como reciclar de manera correcta las latas:</h2>
    <ol>
    <h2 style="color: yellow">para Reciclar este material de manera correcta, debes seguir los siguientes pasos :</h2>

    <div class="container mt-5">
      <div class="card bg-warning">
        <div class="card-body">
          <p class="card-text" style="color: black">
            <li style="color: black;">
              Eliminar los restos de residuos que pueda contener la lata como líquido, alimento, etc.
            </li>
            <li style="color: black;">
              Opcionalmente se puede aplastar la lata para que asi en el contenedor donde se inserte el material, tenga mas espacio para 
              lograr que se puedan reciclar la mayor cantidad de latas en el espacio del contenedor.
            </li>
            <li style="color: black;">
              Si ves que la lata puede traer otro tipo de material que se pueda retirar fácilmente, quítalo.
            </li>
            <li style="color: black;">
              Luego de estos pasos puedes insertar la lata en el contenedor correspondiente (color gris).
            </li>
            
          </p>
        </div>
      </div>
    </div>
    <br>
    <b><h2 style="color: red;">¿Sabias que?</h2></b>
    <div class="container mt-5">
      <div class="card bg-warning">
        <div class="card-body">
          <p class="card-text" style="color: black">
            Las latas puedes reutilizarlas para la creación de diferentes manualidades como por ejemplo: Crear un organizador, hacer moldes para galletas, una 
            alcancia para guardar dinero, etc.
            <br>
            Por esto es muy importante reciclar, ya que a pesar de una acción tan sencilla como lo puede ser desechar una lata, podemos generar muchos beneficios para nuestro planeta.
          </p>
        </div>
      </div>
</div>



  

{% endblock %}