{% extends "index.html" %}

{% block content %}
<br>
<br>
<br>
<div class="text-center">
    <h2>Escoje el material a reciclar</h2>
    <br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona el material
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href={% url 'plastico' %}>Plástico</a></li>
        <li><a class="dropdown-item" href={% url "latas" %}>Latas</a></li>
        <li><a class="dropdown-item" href={% url 'carton' %}>Cartón</a></li>
        <li><a class="dropdown-item" href={% url 'vidrio' %}>Vidrio</a></li>
        <li><a class="dropdown-item" href={% url 'papel' %}>Papel</a></li>
        <li><a class="dropdown-item" href={% url 'tapas' %}>Tapas de plástico</a></li>
        <li><a class="dropdown-item" href={% url 'electro' %}>Residuos electrónicos y eléctricos</a></li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <h1>Material seleccionado: Latas</h1>
    {{mapas|safe}}
    <br>
</div> 

<div>
  <h1>Como reciclar de manera correcta una lata:
    <br>
    <br>
    <b>Para reciclar este material de manera correcta, debes seguir los siguientes pasos:</b>
    <br>
    <br>
    - Enjuagar la lata para eliminar los restos de residuos que esta pueda contener.
    <br>
    <br>
    - Opcionalmente se puede aplastar la lata para que asi en el contenedor donde se inserte el material, tenga mas espacio para 
    lograr que se puedan reciclar la mayo cantidad de latas en el espacio del contenedor.
    <br>
    <br>
    - Si ves que la lata puede traer otro tipo de material que se pueda retirar fácilmente, quítalo.
    <br>
    <br>
    Luego de estos pasos puedes insertar la lata en el contenedor correspondiente (color gris)
    <br>
    <br>
    ¿Sabias que?
    <br>
    <br>
    - Las latas puedes reutilizarlas para la creación de diferentes manualidades como por ejemplo: Crear un organizador. hacer moldes para galletas, una 
    alcancia para guardar dinero, etc.
    <br>
    <br>
    Por esto es muy importante reciclar, ya que a pesar de una acción tan sencilla como lo puede ser desechar una lata, podemos generar muchos beneficios para nuestro planeta.  
  </h1>
</div>


  

{% endblock %}