{% extends "index.html" %}

{% block content %}
<br>
<br>
<br>
<div class="text-center">
    <h2>Escoje el material a reciclar</h2>
    <br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona el material
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href={% url 'plastico' %}>Plástico</a></li>
        <li><a class="dropdown-item" href={% url "latas" %}>Latas</a></li>
        <li><a class="dropdown-item" href={% url 'carton' %}>Cartón</a></li>
        <li><a class="dropdown-item" href={% url 'vidrio' %}>Vidrio</a></li>
        <li><a class="dropdown-item" href={% url 'papel' %}>Papel</a></li>
        <li><a class="dropdown-item" href={% url 'tapas' %}>Tapas de plástico</a></li>
        <li><a class="dropdown-item" href={% url 'electro' %}>Residuos electrónicos y eléctricos</a></li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <h1>Material seleccionado: Papel</h1>
    {{mapas|safe}}
    <br>
</div> 

<div>
  <h1>Como reciclar de manera correcta el papel:
    <br>
    <br>
    <b>Para reciclar este material de manera correcta, debes seguir los siguientes pasos:</b>
    <br>
    <br>
    - Limpia el papel, eliminando cualquier resto de alimento, líquido o aceite que contenga el material.
    <br>
    <br>
    - Elimina las grapas o clips que el residuo contenga, para asi no mezclar el papel con otros materiales.
    <br>
    <br>
    - Intenta que el papel no este cortado en trozos pequeños ya que al estar la hoja completa, facilita el procesamiento del residuo en la planta de reciclaje.
    <br>
    <br>
    Luego de estos pasos puedes insertar el papel en el contenedor correspondiente (color azul)
    <br>
    <br>
    ¿Sabias que?
    <br>
    <br>
    - Al reciclar papel, reduces la contaminación del agua y el aire, además de lograr una disminución de la huella
    de carbono.
    <br> 
    <br>
    - Reciclar 1 tonelada de papel, se logra salvar aproximadamente 17 árboles. Además reciclar esta misma cantidad de papel, ahorra 26.500 litros de agua.
    <br>
    <br>
    Por esto es muy importante reciclar, ya que a pesar de una acción tan sencilla como lo puede ser desechar papel, podemos generar muchos beneficios para nuestro planeta.
  </h1>
</div>


  

{% endblock %}