{% extends "inicio.html" %}

{% block content %}
<br>
<br>
<br>
<div class="text-center">
    <h2>Escoje el material a reciclar</h2>
    <br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona el material
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href={% url 'plastico' %}>Plástico</a></li>
        <li><a class="dropdown-item" href={% url "latas" %}>Latas</a></li>
        <li><a class="dropdown-item" href={% url 'carton' %}>Cartón</a></li>
        <li><a class="dropdown-item" href={% url 'vidrio' %}>Vidrio</a></li>
        <li><a class="dropdown-item" href={% url 'papel' %}>Papel</a></li>
        <li><a class="dropdown-item" href={% url 'tapas' %}>Tapas de plástico</a></li>
        <li><a class="dropdown-item" href={% url 'electro' %}>Residuos electrónicos y eléctricos</a></li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <h1 style="color: red;">Material seleccionado: Papel</h1>
    {{mapas|safe}}
    <br>
</div> 

<div>
  <h2 style="color: red;">Como reciclar de manera correcta el papel:</h2>
    <ol>
    <h2 style="color: yellow">para Reciclar este material de manera correcta, debes seguir los siguientes pasos :</h2>

    <div class="container mt-5">
      <div class="card bg-warning">
        <div class="card-body">
          <p class="card-text" style="color: black">
            <li style="color: black;">
              Limpia el papel, eliminando cualquier resto de alimento, líquido o aceite que contenga el material.
            </li>
            <li style="color: black;">
              Elimina las grapas o clips que el residuo contenga, para asi no mezclar el papel con otros materiales.
            </li>
            <li style="color: black;">
              Intenta que el papel no este cortado en trozos pequeños ya que al estar la hoja completa, facilita el procesamiento del residuo en la planta de reciclaje.
            </li>
            <li style="color: black;">
              Luego de estos pasos puedes insertar el papel en el contenedor correspondiente (color azul)
            </li>
            
          </p>
        </div>
      </div>
    </div>
    <br>
    <b><h2 style="color: red;">¿Sabias que?</h2></b>
    <div class="container mt-5">
      <div class="card bg-warning">
        <div class="card-body">
          <p class="card-text" style="color: black">
            Al reciclar papel, reduces la contaminación del agua y el aire, además de lograr una disminución de la huella
            de carbono.
            <br>
            Reciclar 1 tonelada de papel, se logra salvar aproximadamente 17 árboles. Además reciclar esta misma cantidad de papel, ahorra 26.500 litros de agua.
            Por esto es muy importante reciclar, ya que a pesar de una acción tan sencilla como lo puede ser desechar papel, podemos generar muchos beneficios para nuestro planeta.
          </p>
        </div>
      </div>
</div>



  

{% endblock %}