{% extends "index.html" %}

{% block content %}
<br>
<br>
<br>
<div class="text-center">
    <h2>Escoje el material a reciclar</h2>
    <br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona el material
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href={% url 'plastico' %}>plastico</a></li>
        <li><a class="dropdown-item" href="#">Latas</a></li>
        <li><a class="dropdown-item" href={% url 'carton' %}>carton</a></li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <h1>Material seleccionado: Plástico</h1>
    {{mapas|safe}}
    <br>
</div> 

<div>
  <h1>Como reciclar el plástico:
    <br>
    <br>
    Para reciclar este material de manera correcta, debes seguir los siguientes pasos:
    <br>
    <br>
    - Lava y enjuaga los envases de plástico antes de depositarlos en el contenedor. De esta forma, se evitarán los malos olores y se facilitará el proceso de reciclaje.
    <br>
    <br>
    - Deposita los envases de plástico en el contenedor de envases correctamente. No los aplastes ni los dejes abiertos.
    <br>
    <br>
    <br>
    ¿Sabias que?
    <br>
    <br>
    Al reciclar plástico, podemos convertirlo en nuevos productos y materias primas, además, genera nuevos puestos de trabajo y tejido industrial. 
    <br>
    Por esto es muy importante reciclar, ya que a pesar de una acción tan sencilla como lo puede ser desechar una botella de plástico, podemos generar muchos beneficios para nuestro planeta. 
  </h1>
</div>


  

{% endblock %}