{% extends "inicio.html" %}

{% block content %}
<br>
<br>
<br>
<div class="text-center">
    <h2>Escoje el material a reciclar</h2>
    <br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona el material
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href={% url 'plastico' %}>Plástico</a></li>
        <li><a class="dropdown-item" href={% url "latas" %}>Latas</a></li>
        <li><a class="dropdown-item" href={% url 'carton' %}>Cartón</a></li>
        <li><a class="dropdown-item" href={% url 'vidrio' %}>Vidrio</a></li>
        <li><a class="dropdown-item" href={% url 'papel' %}>Papel</a></li>
        <li><a class="dropdown-item" href={% url 'tapas' %}>Tapas de plástico</a></li>
        <li><a class="dropdown-item" href={% url 'electro' %}>Residuos electrónicos y eléctricos</a></li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <h1 style="color: red;">Material seleccionado: Plástico</h1>
    {{mapas|safe}}
    <br>
</div> 

<div>
  <h2 style="color: red;">Como reciclar de manera correcta el plástico:</h2>
    <ol>
    <h2 style="color: yellow">para Reciclar este material de manera correcta, debes seguir los siguientes pasos :</h2>

    <div class="container mt-5">
      <div class="card bg-warning">
        <div class="card-body">
          <p class="card-text" style="color: black">
            <li style="color: black;">
              Lava y enjuaga los envases de plástico antes de depositarlos en el contenedor. De esta forma, se evitarán los malos olores y se facilitará el proceso de reciclaje.
            </li>
            <li style="color: black;">
              Quita las etiquetas o tapas que el objeto contenga para que de esta manera el plástico no se mezcle.
            </li>
            <li style="color: black;">
              Aplasta el envase de plástico para poder ahorrar espacio en el contenedor y lograr que en este se pueda insertar la mayor cantidad de plástico.
            </li>
            <li style="color: black;">
              Deposita los envases de plástico en el contenedor de envases correspondiente (color amarillo). No los aplastes ni los dejes abiertos.
            </li>
            
          </p>
        </div>
      </div>
    </div>
    <br>
    <b><h2 style="color: red;">¿Sabias que?</h2></b>
    <div class="container mt-5">
      <div class="card bg-warning">
        <div class="card-body">
          <p class="card-text" style="color: black">
            Al reciclar plástico, podemos convertirlo en nuevos productos y materias primas, además, genera nuevos puestos de trabajo y tejido industrial.
    Por esto es muy importante reciclar, ya que a pesar de una acción tan sencilla como lo puede ser desechar una botella de plástico, podemos generar muchos beneficios para nuestro planeta.
          </p>
        </div>
      </div>
</div>


  

{% endblock %}