{% extends "index.html" %}

{% block content %}
<br>
<br>
<br>
<div class="text-center">
    <h2><b>Escoje el material a reciclar</b></h2>
    <br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona el material
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href={% url 'plastico' %}>Plástico</a></li>
        <li><a class="dropdown-item" href={% url "latas" %}>Latas</a></li>
        <li><a class="dropdown-item" href={% url 'carton' %}>Cartón</a></li>
        <li><a class="dropdown-item" href={% url 'vidrio' %}>Vidrio</a></li>
        <li><a class="dropdown-item" href={% url 'papel' %}>Papel</a></li>
        <li><a class="dropdown-item" href={% url 'tapas' %}>Tapas de plástico</a></li>
        <li><a class="dropdown-item" href={% url 'electro' %}>Residuos electrónicos y eléctricos</a></li>
      </ul>
    </div>
</div> 
  

{% endblock %}