{% extends "inicio.html" %}

{% block content %}
<br>
<br>
<br>
<div class="text-center">
    <h2>Escoje el material a reciclar</h2>
    <br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona el material
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href={% url 'plastico' %}>Plástico</a></li>
        <li><a class="dropdown-item" href={% url "latas" %}>Latas</a></li>
        <li><a class="dropdown-item" href={% url 'carton' %}>Cartón</a></li>
        <li><a class="dropdown-item" href={% url 'vidrio' %}>Vidrio</a></li>
        <li><a class="dropdown-item" href={% url 'papel' %}>Papel</a></li>
        <li><a class="dropdown-item" href={% url 'tapas' %}>Tapas de plástico</a></li>
        <li><a class="dropdown-item" href={% url 'electro' %}>Residuos electrónicos y eléctricos</a></li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <h1 style="color: red;">Material seleccionado: Tapas de plástico</h1>
    {{mapas|safe}}
    <br>
</div> 

<div>
  <h2 style="color: red;">Como reciclar de manera correcta una tapa de plástico:</h2>
    <ol>
    <h2 style="color: yellow">para Reciclar este material de manera correcta, debes seguir los siguientes pasos :</h2>

    <div class="container mt-5">
      <div class="card bg-warning">
        <div class="card-body">
          <p class="card-text" style="color: black">
            <li style="color: black;">
              Limpia la tapa de la mejor forma posible para eliminar cualquier tipo de residuo.
            </li>
            <li style="color: black;">
              Seca la tapa para evitar malos olhores y moho.
            </li>
            <li style="color: black;">
              Luego de estos pasos puedes insertar la tapa en el contenedor correspondiente (botella grande de plástico en este caso).
            </li>
            
          </p>
        </div>
      </div>
    </div>
    <br>
    <b><h2 style="color: red;">¿Sabias que?</h2></b>
    <div class="container mt-5">
      <div class="card bg-warning">
        <div class="card-body">
          <p class="card-text" style="color: black">
            Muchas organizaciones benéficas, usan las tapas de plástico para venderlas y con los fondos conseguidos, apoyar
            financieramente la causa benéfica la cual estan apoyando.
            <br>
            Los animales suelen cofundir las tapas de plástico con alimento y las consumen, lo que les causa
            obstrucciones en su sistema digestivo, por lo que al reciclar las tapas, se esta evitando que los animales
            terminen afectados por desechar de manera equivocada este material. Por esto es muy importante reciclar, ya que a pesar de una acción tan sencilla como lo puede ser desechar una tapa de plástico, podemos generar muchos beneficios para nuestro planeta.
          </p>
        </div>
      </div>
</div>

  

{% endblock %}