{% extends "index.html" %}

{% block content %}
<br>
<br>
<br>
<div class="text-center">
    <h2>Escoje el material a reciclar</h2>
    <br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona el material
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href={% url 'plastico' %}>Plástico</a></li>
        <li><a class="dropdown-item" href={% url "latas" %}>Latas</a></li>
        <li><a class="dropdown-item" href={% url 'carton' %}>Cartón</a></li>
        <li><a class="dropdown-item" href={% url 'vidrio' %}>Vidrio</a></li>
        <li><a class="dropdown-item" href={% url 'papel' %}>Papel</a></li>
        <li><a class="dropdown-item" href={% url 'tapas' %}>Tapas de plástico</a></li>
        <li><a class="dropdown-item" href={% url 'electro' %}>Residuos electrónicos y eléctricos</a></li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <h1>Material seleccionado: Vidrio</h1>
    {{mapas|safe}}
    <br>
</div> 

<div>
  <h2>Como reciclar de manera correcta el vidrio:</h2>
    <ol>
    <h2 style="color: yellow">Para reciclar este material de manera correcta, debes seguir los siguientes pasos :</h2>

    <li>Primero que todo corroborar que el vidrio que se quiera desechar sea reciclable como por ejemplo botellas, frasco de alimentos
    o envases de bebida.</li>
    <li>Limpiar y enjuagar bien el envase de vidrio para que no queden residuos en el u otro tipo de material como etiquetas.</li> 
    <li>De estos pasos puedes insertar la tapa en el contenedor correspondiente (contenedor verde)</li>
    </ol>
    <br>
    <br>
    <b><h2>¿Sabias que?</h2></b>
    <br>
    <p>Una botella de vidrio reciclada puede volver a utilizarse para la venta en tiendas en 30 dias o menos. El vidrio se puede reciclar infitamente, esto quiere decir que gracias a sus propiedades, este material, permite ahorrar recursos naturales,
    energía y costes.</p> 
    <br>
    <p>Al reciclar vidrio, se evitan emisiones de C02 (dióxido de carbono), lo cual ayuda a combatir el cambio climático. Por esto es muy importante reciclar, ya que, con una acción tan sencilla como desechar en el lugar adecuado, ayudamos a reducir la contaminación.</p>

</div>


  

{% endblock %}