{% extends "index.html" %}

{% block content %}
<br>
<br>
<br>
<div class="text-center">
    <h2>Escoje el material a reciclar</h2>
    <br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Selecciona el material
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href={% url 'plastico' %}>Plástico</a></li>
        <li><a class="dropdown-item" href={% url "latas" %}>Latas</a></li>
        <li><a class="dropdown-item" href={% url 'carton' %}>Cartón</a></li>
        <li><a class="dropdown-item" href={% url 'vidrio' %}>Vidrio</a></li>
        <li><a class="dropdown-item" href={% url 'papel' %}>Papel</a></li>
        <li><a class="dropdown-item" href={% url 'tapas' %}>Tapas de plástico</a></li>
        <li><a class="dropdown-item" href={% url 'electro' %}>Residuos electrónicos y eléctricos</a></li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <h1>Material seleccionado: Vidrio</h1>
    {{mapas|safe}}
    <br>
</div> 

<div>
  <h1>Como reciclar de manera correcta el vidrio:
    <br>
    <br>
    <b>Para reciclar este material de manera correcta, debes seguir los siguientes pasos:</b>
    <br>
    <br>
    - Primero que todo corroborar que el vidrio que se quiera desechar sea reciclable como por ejemplo botellas, frasco de alimentos
    o envases de bebida.
    <br>
    <br>
    - Limpiar y enjuagar bien el envase de vidrio para que no queden residuos en el u otro tipo de material como etiquetas. 
    <br>
    <br>
    Luego de estos pasos puedes insertar la tapa en el contenedor correspondiente (contenedor verde)
    <br>
    <br>
    ¿Sabias que?
    <br>
    <br>
    - Una botella de vidrio reciclada puede volver a utilizarse para la venta en tiendas en 30 dias o menos.
    <br>
    <br>
    - El vidrio se puede reciclar infitamente, esto quiere decir que gracias a sus propiedades, este material, permite ahorrar recursos naturales,
    energía y costes. 
    <br>
    <br>
    - Al reciclar vidrio, se evitan emisiones de C02 (dióxido de carbono), lo cual ayuda a combatir el cambio climático.
    <br>
    <br>
    Por esto es muy importante reciclar, ya que a pesar de una acción tan sencilla como lo puede ser desechar a 
  </h1>
</div>


  

{% endblock %}