{% extends "inicio.html" %}

{% block content %}

<br>
<br>
<br>
<div class="container mt-5">
    <div class="card bg-warning text-white">
      <div class="card-body">
        <h5 class="card-title text-center" style="color: red;">¿Qué es Recicla Sansanamente?</h5>
        <p class="card-text" style="color: black;">
            Esta aplicación fue creada para todos los y las sansanas que quieran ayudar a ralentizar la crisis climática que estamos viviendo como
            sociedad a dia de hoy. En esta app podrás encontrar mediante un mapa todos los puntos de reciclaje de la Universidad Técnica Federico Santa 
            María (Campus San Joaquín) según el material que desees reciclar.

            <h5 class="card-title text-center" style="color: red;">¿Cómo funciona Recicla Sansanamente?</h5>
            <p class="card-text" style="color: black;">
              1° Paso: Registrate o inicia sesión con tu cuenta de Recicla Sansanamente en la barra de navegación en la parte superior de la aplicación.
              <br>
              2° Paso: Ve hacia la pestaña de ¿Dónde reciclo?, selecciona el material que quieras reciclar para luego dirigirte a al lugar de reciclaje, y al llegar a la ubicación,
              sigue los pasos que te indica la aplicación para reciclar el residuo de manera correcta.
              <br>
              3° Paso: Ve hacia el apartado de ¡Empieza a reciclar! y escribe el material que reciclaste para subir el nivel de tu usuario.
              <br>
              ¡Y listo ya estas aportando para retrasar los cambios climáticos y recuerda que mientras más recicles, más rapido llegaras al nivel máximo asi que éxito!
            </p>
        </p>
      </div>
    </div>

{% endblock %}