{% extends "inicio.html" %}
{% load static %}
{% block content %}

<h3>Hola, {{ usuario.username }}</h3>
<h2><b>Estás en el nivel: {{ numnivel }}</b></h2>
<h1>{{ nombrenivel }}</h1>
<br>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo with Number</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="logo-container">
        <img src="{% static 'images/trofeo.jpg' %}" alt="Logo" class="logo">
    </div>
    <style>
        .logo {
            width: 150px; /* Ajusta el tamaño según sea necesario */
            height: auto;
        }
    </style>
</body>
</html>


<div class="container" style="background-color: lightblue; padding: 20px; border-radius: 5px;">
    <form action="{% url 'guardar_palabra' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="palabra">Ingrese el material a reciclar:</label>
        <input type="text" id="palabra" name="palabra" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Guardar</button>
    </form>
  
    <h3>Total de materiales reciclados: {{ total_palabras }}</h3>
  
    <h3>Últimos materiales reciclados:</h3>
    <ul>
      {% for palabra in ultimas_palabras %}
        <li>{{ palabra.palabra }}: {{ palabra.Palabra }} </li>
      {% endfor %}
    </ul>
  
    
  </div>
  
    
{% endblock %}    